{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ path('homepage') }}">Marsupilami</a>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
                % i   {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="container" style="margin-bottom: 70px; margin-top: 70px">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}